body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

.container {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

/* Carrossel de Destaques */
.destaque {
    margin: 3rem auto;
    width: 70%;
    height: 300px;
    text-align: center;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.swiper-slide h3 {
    width: 30%;
    background-color: #ffffffa8;
    font-family: 'Times New Roman', Times, serif;
    height: 35px;
    top: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    border-radius: 4px;
    text-align: left;
}

/* Notícias */
.noticias {
    text-align: center;
    padding: 20px;
}
.noticia:hover {
    transform: scale(1.05);
}
.noticias h2,.card-parceiros h2,
.container-colaboradores h2, .destaque h2   {
    width: 20%;
    font-family: 'Times New Roman', Times, serif;
    color: #69372E;
    font-size: 26px;
    margin-bottom: 20px;
    color: #69372E;
    margin: 1.5rem auto;
    border-radius: 15px;
    border: 3px dashed #69372E;
    border-right: 3px dashed #69372E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.noticias-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.noticia {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noticia img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.noticia a {
    text-decoration: none;
    color: rgba(0, 0, 0);
}

.noticia p {
    font-family: 'Times New Roman', Times, serif;
    color: #69372E;
    text-align: justify;
    font-size: 15px;
}

.noticia h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #69372E;
    font-size: 19px;
    text-align: center;
    margin-top: 10px;
}

/* Parceiros */
.container-colaboradores {
    width: 100%;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    margin-top: 3rem;
}

.container-colaboradores h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: center;
    gap: 20px;
}

.card-parceiros {
    flex: 0 0 calc(100% / 3);
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.card-parceiros img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Responsividade */
@media (max-width: 1024px) {
    .destaque {
        width: 80%;
        height: 250px;
    }

    .swiper-slide img {
        height: 250px;
    }

    .noticia {
        width: 45%;
    }

    .noticia img {
        height: 250px;
    }

    .card-parceiros {
        flex: 0 0 calc(100% / 2);
    }
}

@media (max-width: 768px) {
    .destaque {
        width: 90%;
        height: 200px;
    }

    .swiper-slide img {
        height: 200px;
    }

    .noticias-container {
        flex-direction: column;
        align-items: center;
    }

    .noticia {
        width: 80%;
    }

    .noticia img {
        height: 200px;
    }

    .card-parceiros {
        flex: 0 0 80%;
    }
}

@media (max-width: 480px) {
    .destaque {
        width: 95%;
        height: 180px;
    }

    .swiper-slide img {
        height: 180px;
    }

    .noticia {
        width: 90%;
    }

    .noticia img {
        height: 180px;
    }

    .card-parceiros {
        width: 60%;
        flex: 0 0 100%;
        overflow: hidden;
    }

    .card-parceiros img {
        width: 120px;
        height: 120px;
    }

    .swiper-slide h3 {
        width: 60%;
        font-size: 15px;
    }
    .noticias h2,.card-parceiros h2,
.container-colaboradores h2, .destaque h2   {
    width: 50%;
}
}