body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    color: #333;
}

header {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 6px #000;

}

header img {
    filter: blur(5px)
}

header h1 {
    background-color: #ffffff91;
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem 2rem;
    border-radius: 16px;
    font-size: 2.5rem;
    color: #73281b;
}

.container-conteudo {
    background-color: #f0f0f040;
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

section {
    border-left: 6px solid #69372E;
    border-right: 6px solid #69372E;
    padding: 16px 24px;
    margin: 28px 0;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

#titulo-midias {
    border-bottom: 3px dashed #000000;
}

section h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #69372E;
    margin-bottom: 12px;
    font-weight: bolder;
}

section ul {
    padding-left: 20px;
    line-height: 1.6;
}

section p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 17px;
    line-height: 1.6;
    color: #69372E;
}

section li {
    color: #69372E;
}

.terceira-pagina img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    cursor: pointer;
    border: 1px;
}

.midias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 15px;
}

.terceira-pagina section {
    text-align: center;
}

.terceira-pagina img:hover {
    transform: scale(1.15);
    z-index: 5;
}

.paginacao {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
}

.pagina-btn {
    padding: 12px 20px;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #5ba976;
    border: 2px solid #5ba976;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.pagina-btn:hover {
    background-color: #5ba976;
    color: white;
    transform: scale(1.05);
}

.pagina-btn.ativo {
    background-color: #5ba976;
    color: white;
}

#modal-foto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

#modal-foto img {
    width: 750px;
    max-height: 700px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

#modal-foto #fechar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

#modal-foto #anterior,
#modal-foto #proximo {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 10px;
}

#modal-foto #fechar:hover,
#modal-foto #anterior:hover,
#modal-foto #proximo:hover {
    color: #4c4c4c;
}

#modal-foto #anterior {
    left: 20px;
}

#modal-foto #proximo {
    right: 20px;
}

#modal-foto #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.voltar {
    padding: 10px;
    margin-top: 5px;
    font-size: 20px;
}

.voltar a {
    list-style: none;
    text-decoration: none;
    color: #69372E;



}

.voltar a:hover {
    color: #69372e90;
}

@media (max-width: 768px) {
    .midias {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
    }

    .terceira-pagina img {
        width: 100px;
        height: 100px;

    }

    #modal-foto #anterior,
    #modal-foto #proximo {
        position: absolute;
        top: 45%;
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.444);
        cursor: pointer;
        user-select: none;
        padding: 10px;
    }

    #modal-foto #fechar:hover,
    #modal-foto #anterior:hover,
    #modal-foto #proximo:hover {
        color: #ffffff;
    }

    #modal-foto img {
        width: 90%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    }
}